
<div class="nav-container">
  <div class="logo">

  </div>
  <div class="tab-container">
    <div class="tab-item" routerLink="/home" [routerLinkActive]="'actived'">
      <div class="tab-logo ic-house-24">
  
      </div>
      <div class="tab-content">
        Home
      </div>
    </div>
    <div class="tab-item" routerLink="/work" [routerLinkActive]="'actived'">
      <div class="tab-logo ic-briefcase-24">
  
      </div>
      <div class="tab-content">
        Work
      </div>
    </div>
    <div class="tab-item">
      <div class="tab-logo ic-comment-dots-24">
  
      </div>
      <div class="tab-content">
        Skills
      </div>
    </div>
    <div class="tab-item">
      <div class="tab-logo ic-book-24">
  
      </div>
      <div class="tab-content">
        Notes
      </div>
    </div>
    <div class="tab-item" routerLink="/about" [routerLinkActive]="'actived'">
      <div class="tab-logo ic-circle-info-24" >
  
      </div>
      <div class="tab-content">
        About this page
      </div>
    </div>
  </div>
</div>
