<div class="header-container">
  <div class="header flex justify-content-center">
    Want to hire me?
  </div>
  <div class="body flex align-items-center">
    <div class="text">
      I strive to reply within an hour.
    </div>
    <app-button
      [text]="'EMAIL'"
      [icon]="'ic-email-green-24'"
    >
    </app-button>
  </div>
  <div class="footer w-full">
    <div class="seperate-container flex align-items-center justify-content-center">
      <div class="line">

      </div>
      <div class="text">
        OR
      </div>
      <div class="line">

      </div>
    </div>
    <div class="contact-container flex justify-content-center align-items-center">
      
      <app-button
        [icon]="'ic-fiverr-24'"
        text=""
      >
      </app-button>
      <app-button
        [icon]="'ic-linkedin-24'"
        text=""
      >
      </app-button>
      <app-button
        [icon]="'ic-upwork-24'"
        text=""
      >
      </app-button>
      <app-button
        [icon]="'ic-freelancer-24'"
        text=""
      >
      </app-button>
    </div>
  </div>
</div>
<div class="work-container">
  <div class="header flex justify-content-center">
    My experience so far
  </div>
  <div class="main-content">
    <div class="project-title flex align-items-center">
      <div class="project-name">
        Automation Sales
      </div>
      <div class="experience-time">
        (1 years)
      </div>
    </div>
    <div class="project-info flex flex-direction-column">
      <div class="title">
        Full-stack developer
      </div>
      <div class="experience-time">
        March 2023 - PRESENT (1 years)
      </div>
      <div class="description">
        <div class="des-item">
          Develops and maintains services handling business logic.
        </div>
        <div class="des-item">
          Created both desktop and web applications for internal use by the company.
        </div>
      </div>
    </div>
    
  </div>
  <div class="main-content">
    <div class="project-title flex align-items-center">
      <div class="project-name">
        Customer Relationship Management
      </div>
      <div class="experience-time">
        (2 years)
      </div>
    </div>
    <div class="project-info flex flex-direction-column">
      <div class="title">
        Full-stack developer
      </div>
      <div class="experience-time">
        MAY 2023 - PRESENT (3 months)
      </div>
      <div class="description">
        <div class="des-item">
          Develops and maintains services handling business logic.
        </div>
        <div class="des-item">
          Created both desktop and web applications for internal use by the company.
        </div>
      </div>
    </div>
    
  </div>
  <div class="main-content">
    <div class="project-title flex align-items-center">
      <div class="project-name">
        Customer Relationship Management
      </div>
      <div class="experience-time">
        (2 years)
      </div>
    </div>
    <div class="project-info flex flex-direction-column">
      <div class="title">
        Full-stack developer
      </div>
      <div class="experience-time">
        MAY 2021 - PRESENT (3 months)
      </div>
      <div class="description">
        <div class="des-item">
          Develops and maintains services handling business logic.
        </div>
        <div class="des-item">
          Created both desktop and web applications for internal use by the company.
        </div>
      </div>
    </div>
    
  </div>
</div>
