<div class="home-container flex">
  <div class="left-content">
    <div class="header">
      <div class="title">
        Hi, I'm 
        <span class="name text-green">
          Hoang Hai Dang
        </span>
        
      </div>
      <div class="sub-title">
        Welcome to my page
      </div>
    </div>
    <div class="content">
      <div class="content-item">
        I’m a <span class="text-green">Senior Software Developer</span> specialising in web and mobile apps.
      </div>
      <div class="content-item">
        In my free time, I am either contributing to Open-Source projects or working on my cars.
      </div>
      <div class="content-item">
        I love talking about the world, hobbies and especially code.
      </div>
    </div>
  </div>
  <div class="right-content">
    <div class="header flex justify-content-center">
      Want to hire me?
    </div>
    <div class="body flex align-items-center">
      <div class="text">
        I strive to reply within an hour.
      </div>
      <app-button
        [text]="'EMAIL'"
        [icon]="'ic-email-green-24'"
      >
      </app-button>
    </div>
    <div class="footer w-full">
      <div class="seperate-container flex align-items-center ">
        <div class="line">

        </div>
        <div class="text">
          OR
        </div>
        <div class="line">

        </div>
      </div>
      <div class="contact-container flex justify-content-center align-items-center">
        <app-button
          [icon]="'ic-fiverr-24'"
          text=""
        >
        </app-button>
        <app-button
          [icon]="'ic-linkedin-24'"
          text=""
        >
        </app-button>
        <app-button
          [icon]="'ic-upwork-24'"
          text=""
        >
        </app-button>
        <app-button
          [icon]="'ic-freelancer-24'"
          text=""
        >
        </app-button>
      </div>
    </div>
  </div>
</div>