$bg-color: #3C3C5B;
$bg-color-01: #464567;
$nav-bg-color: #2e2e47;
$nav-bg-actived-color: #464567;
$color-white: #fff;
$color-green-1: #1DFF9E;
$color-grey-1: rgba(255, 255, 255, 0.32);
$color-grey-2: rgba(255, 255, 255, 0.65);
$color-grey-3: rgba(255, 255, 255, 0.87);
